body {
  font-family: monospace;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.box {
  border: 1px solid #eee;
  width: 33%;
  float: left;
  margin: 0;
  overflow: hidden;
  height: 350px;
  background-color: #f5ffce;
  box-sizing: border-box;

  &.done {
    background-color: #c6eaff;
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;  
  }

  > img {
    margin-bottom: 2px;
  }

  > .desc {
    text-align: center;
    margin: 0 auto;
  }
}
